In [2]:
import pandas as pd
df=pd.read_csv("/content/Data[1]analytics.csv")
print("Original Dataset(first 5 rows):\n",df.head())

Original Dataset(first 5 rows):
    Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [3]:
print("\nMissing Values in Each Column:\n",df.isnull().sum())

Missing Values in Each Column:
 Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [5]:
df_drop=df.dropna()
print("\nDataset after Dropping Missing Rows:\n",df_drop.head())

Dataset after Dropping Missing Rows:
    Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
5   France  35.0  58000.0       Yes

In [6]:
df_drop_col=df.dropna(axis=1)
print("\nDataset after Dropping Columns with Missing Values:\n",df_drop_col.head())

Dataset after Dropping Columns with Missing Values:
    Country Purchased
0   France        No
1    Spain       Yes
2  Germany        No
3    Spain        No
4  Germany       Yes

In [7]:
df_fill_const = df.fillna("Unknown")
print("\nDataset after Filling Missing Values with Constant:\n", df_fill_const.head())

Dataset after Filling Missing Values with Constant:
    Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0  Unknown       Yes

In [8]:
df_fill_mean = df.fillna(df.mean(numeric_only=True))
print("\nDataset after Filling Numeric Missing Values with Mean:\n", df_fill_mean.head())

Dataset after Filling Numeric Missing Values with Mean:
    Country   Age        Salary Purchased
0   France  44.0  72000.000000        No
1    Spain  27.0  48000.000000       Yes
2  Germany  30.0  54000.000000        No
3    Spain  38.0  61000.000000        No
4  Germany  40.0  63777.777778       Yes

In [9]:
df_fill_forward = df.fillna(method='ffill')
print("\nDataset after Forward Fill:\n", df_fill_forward.head())

Dataset after Forward Fill:
    Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0  61000.0       Yes

/tmp/ipython-input-1056410270.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_fill_forward = df.fillna(method='ffill')

In [10]:
df_fill_backward = df.fillna(method='bfill')
print("\nDataset after Backward Fill:\n", df_fill_backward.head())

Dataset after Backward Fill:
    Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0  58000.0       Yes

/tmp/ipython-input-2907019863.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_fill_backward = df.fillna(method='bfill')